<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBieXH_d0Gext5crvoOsPeu6iZk76CWHHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>464019647766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karamlyy.dentalMobile</string>
	<key>PROJECT_ID</key>
	<string>dental-app-dev-96fda</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-app-dev-96fda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464019647766:ios:92f2d9279e012fe450b437</string>
</dict>
</plist>